:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #4c4c4c;
    --fourth-color: #7f7f7f;
}

.header-nav {
    font-family: 'VT323', monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border: 4px solid var(--primary-color);
}

.icon-1 {
    margin: 30px 15px;
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 150px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px 0 0 0;
}

.name-and-alias {
    align-items: space-around;
    font-size: xx-large;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px 10px 0px;
    list-style: none;
    font-size: x-large;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}