:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #4c4c4c;
    --fourth-color: #7f7f7f;
    --heading-font: 'VT323', monospace;
    --content-font: 'Padauk', sans-serif;
    --header-size: 35px;
}

/*header styles*/
.header-nav {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border: 4px solid var(--primary-color);
}

.icon-1 {
    margin-left: 15px;
    margin-right: 5px;
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 150px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}

.name-and-alias {
    align-items: space-around;
    font-size: 50px;
}

/*nav styles*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px 10px 0px;
    list-style: none;
    font-size: 30px;
}

nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

/*about me styles*/
.heading {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--header-size);
    font-family: var(--heading-font);
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.heading i {
    margin-left: 15px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: var(--tertiary-color);
    font-size: 25px;
    font-family: var(--content-font);
}

.about-me p,
.project-1 section {
    text-align: center;
}

#abtmep2 {
    color: var(--fourth-color);
}

/*project 1 styles*/
.project-1, #project1img {
    display: flex;
    justify-content: center;
}

#project1desc {
    font-size: 30px;
    font-family: var(--content-font);
    color: var(--primary-color);
}

#project1header {
    font-family: var(--heading-font);
    font-size: var(--header-size);
    color: var(--primary-color);
}

#btn1Div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#project1Button {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#project1Button:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/*project styles*/
#project2Button, #project3Button, #project4Button, #project5Button {
    font-family: var(--heading-font);
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--fourth-color);
}

#project2Button:hover, #project3Button:hover, #project4Button:hover, #project5Button:hover {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.additional-projects,
.additional-projects-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: var(--content-font);
    font-size: 20px;
    color: var(--secondary-color);
}

.project-headers {
    font-family: var(--heading-font);
}

.project-2,
.project-3,
.project-4,
.project-5 {
    border: 4px solid var(--primary-color);
    margin: 20px 0;
    background-color: var(--primary-color);
}

.project-2,
.project-4 {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5px;
}

#project2img,
#project4img {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.project-3,
.project-5 {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
}

#project3img,
#project5img {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/*contact styles*/
.contact {
    font-family: var(--content-font);
    margin-bottom: 20px;
}

#contact-header {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    font-size: var(--header-size);
}

.contact-info {
    text-align: center;
    font-size: 25px;
}

#phone a,
#email a {
    color: var(--tertiary-color);
}

/*footer styles*/
footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 25px;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.contact-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.social-links {
    display: flex;
    align-items: flex-end;
}

.social-links a {
    text-decoration: none;
    color: var(--secondary-color);
}