:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #4c4c4c;
    --fourth-color: #7f7f7f;
}

/*header styles*/
.header-nav {
    font-family: 'VT323', monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border: 4px solid var(--primary-color);
}

.icon-1 {
    margin-left: 15px;
    margin-right: 5px;
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 150px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}

.name-and-alias {
    align-items: space-around;
    font-size: 50px;
}

/*nav styles*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px 10px 0px;
    list-style: none;
    font-size: 30px;
}

nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

/*about me styles*/
.heading {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    font-family: 'VT323', monospace;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.heading i {
    margin-left: 15px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: var(--tertiary-color);
    font-size: 25px;
    font-family: 'Padauk', sans-serif;
}

.about-me p,
.project-1 section {
    text-align: center;
}

#abtmep2 {
    color: var(--fourth-color);
}

/*project styles*/
.project-1 {
    background-image: url("../images/projectimg6.jpg");
    background-size: cover;
    background-position: 70%;
    height: 500px;
    font-size: 30px;
    font-family: 'Padauk', sans-serif;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.additional-projects,
.additional-projects-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.project-headers {
    font-family: 'VT323', monospace;
}

.project-2,
.project-3,
.project-4,
.project-5 {
    border: 4px solid var(--primary-color);
    margin: 20px 0;
    background-color: var(--primary-color);
}

.project-2,
.project-4 {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5px;
}

#project2img,
#project4img {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.project-3,
.project-5 {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
}

#project3img,
#project5img {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/*contact styles*/
.contact {
    font-family: 'Padauk', sans-serif;
}

#contact-header {
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 35px;
}

.contact-info {
    text-align: center;
    font-size: 25px;
}

#phone a,
#email a {
    color: var(--tertiary-color);
}